.container{

    padding: 5px 30px;

    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu_items{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;        
        margin-bottom: 15px;
        .menu{
            flex: 0.5;

            a{
                color: #63707E;
                text-decoration: inherit;
                
                padding-bottom: 0.25rem !important;
                font-size: 1.32rem;
                font-weight: 500;
                opacity: 0.8;

                &:hover{
                    opacity: 1;
                }
            }
            .active{
                border-bottom: 2px solid #FF7A45;
                color: #5e656d;
            }
        }
        .all_types{
            flex: 0.5;
            display: flex;
            justify-content: flex-end;

            select{ 
                padding: 0.5rem 1rem 0.5rem 0.5rem;
                font-size: 0.88rem;
                color: #495057;
                border: 1px solid #ced4da;  
                border-radius: 5px;
                
                &:focus-visible{
                border: 1px solid #ced4da;  
                }
            }
        }
    }

}