.verification{
    padding: 5px 30px;
    width: 70%;
    h3 {
        padding: 15px 0;
    }

    .phone_verific{
        
    }

    .credit_verific, .linkedin_verific{
        margin-top: 24px;
    }

}
